.input-text{
    border: 2px solid black;
    padding: 10px;
    border-radius: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: lightgreen;
 }
 
 .input-text:hover{
     border-color: blue;
     box-shadow: 2px 2px 10px blue inset;
     background-color: palevioletred;   
 }
 
 .input-radio{
     width: 20px;
     height: 20px;
     font-size: 20px;
 }
 .input-radio:focus{
     box-shadow: 3px 2px 15px red inset;
     transform: scale(1.1);
 }
 
 .input-checkbox{
     width: 20px;
     height: 20px;
 }
 .input-checkbox:active{
     box-shadow: 4px 2px 15px green;
 }
 .input-checkbox:checked{
     box-shadow: 9px 5px 20px purple inset;
 }
 .btn{
     padding: 10px;
     
 }
 
 
 .btn:active{    
    border-radius: 50px;
    background-color: yellow;
    box-shadow: 2px 5px 18px rgb(82, 25, 25) inset;
 }