body {
    background-color: lightgray;
    font-family: Arial;
  }
  
  h1 {
    color: darkblue;
    font-size: 30px;
  }
  
  h2 {
    color: darkred;
    font-size: 26px;
  }
  
  h3 {
    color: darkgreen;
    font-size: 22px;
  }
  
  p {
    font-size: 18px;
    color: black;
  }
  
  div {
    font-size: 20px;
    color: white;
    padding: 10px;
    border: 2px solid black;
  }
  
  .red { background-color: red; }
  .orange { background-color: orange; }
  .yellow { background-color: yellow; color: black; }
  .green { background-color: green; }
  .blue { background-color: blue; }
  .purple { background-color: purple; }
  .gray { background-color: gray; }
  .black { background-color: black; }
  .white { background-color: white; color: black; border: 2px solid black; }
  